<table>
    <tr>
        <td>{{ form_widget(grid_form.squares[0].value) }}</td>
        <td>{{ form_widget(grid_form.squares[1].value) }}</td>
        <td>{{ form_widget(grid_form.squares[2].value) }}</td>
    </tr>
    <tr>
        <td>{{ form_widget(grid_form.squares[3].value) }}</td>
        <td>{{ form_widget(grid_form.squares[4].value) }}</td>
        <td>{{ form_widget(grid_form.squares[5].value) }}</td>
    </tr>
    <tr>
        <td>{{ form_widget(grid_form.squares[6].value) }}</td>
        <td>{{ form_widget(grid_form.squares[7].value) }}</td>
        <td>{{ form_widget(grid_form.squares[8].value) }}</td>
    </tr>
</table>
