<table>
    <tr>
        <td>{{ form_widget(grid_form.squares[0].value, { 'attr': { 'size': 1 }}) }}</td>
        <td>{{ form_widget(grid_form.squares[1].value, { 'attr': { 'size': 1 }}) }}</td>
        <td>{{ form_widget(grid_form.squares[2].value, { 'attr': { 'size': 1 }}) }}</td>
    </tr>
    <tr>
        <td>{{ form_widget(grid_form.squares[3].value, { 'attr': { 'size': 1 }}) }}</td>
        <td>{{ form_widget(grid_form.squares[4].value, { 'attr': { 'size': 1 }}) }}</td>
        <td>{{ form_widget(grid_form.squares[5].value, { 'attr': { 'size': 1 }}) }}</td>
    </tr>
    <tr>
        <td>{{ form_widget(grid_form.squares[6].value, { 'attr': { 'size': 1 }}) }}</td>
        <td>{{ form_widget(grid_form.squares[7].value, { 'attr': { 'size': 1 }}) }}</td>
        <td>{{ form_widget(grid_form.squares[8].value, { 'attr': { 'size': 1 }}) }}</td>
    </tr>
</table>
