<table>
    <tr>
        <td>{{ form_widget(form.sq0) }}</td>
        <td>{{ form_widget(form.sq1) }}</td>
        <td>{{ form_widget(form.sq2) }}</td>
    </tr>
    <tr>
        <td>{{ form_widget(form.sq3) }}</td>
        <td>{{ form_widget(form.sq4) }}</td>
        <td>{{ form_widget(form.sq5) }}</td>
    </tr>
    <tr>
        <td>{{ form_widget(form.sq6) }}</td>
        <td>{{ form_widget(form.sq7) }}</td>
        <td>{{ form_widget(form.sq8) }}</td>
    </tr>
</table>
